language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
cache:
  directories:
  - "$HOME/.rpmlint/"
install:
- sudo apt-get install -y lintian
- if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then pip install pylint; fi
- pip install -r requirements.txt
- pip install coverage
before_script:
- if [[ "$TRAVIS_PYTHON_VERSION" = "2.7" ]]; then export IS_PRIMARY_MATRIX_JOB=true;
  fi
- SEMVER_REGEX="^v(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(\-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$"
- |
- if [[ "$TRAVIS_TAG" =~ $SEMVER_REGEX ]]; then export PACKAGE_VERSION=${TRAVIS_TAG#v};
  fi
- echo $TRAVIS_TAG
- echo $PACKAGE_VERSION
- echo $IS_PRIMARY_MATRIX_JOB
script:
- python -c "import sys; print('python version:%s' % sys.version);"
- python -c "import sys; print('python version:%s' % sys.version[0]);"
- "./pylint-runner.py -s"
- nosetests -v --with-coverage
- python setup.py sdist bdist_wheel
after_success:
- bash <(curl -s https://codecov.io/bash)
before_deploy:
- PACKAGE_DATE=$(git log -1 --pretty="format:%ad" $TRAVIS_TAG --date=short);
- echo $PACKAGE_DATE;
- echo $PYPI_CREDS;  
after_deploy:
- cat $HOME/.pypirc
deploy:
- provider: pypi
  user: apptuit.ai
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: $PACKAGE_VERSION != "" && $IS_PRIMARY_MATRIX_JOB == "true"
  password: $PYPI_CREDS
